node_modules/
out/
.venv/
*.vsix
*.log
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Project config files
buildozer.spec
kivy-reloader.toml
pyproject.toml
uv.lock
